CustomButton {
    -fx-background-color: black;
    -fx-text-fill: rgb(88, 241, 255);
}

CustomButton:hover {
    -fx-background-color: rgb(88, 241, 255);
    -fx-text-fill: black;
}

StackPane {
    -fx-background-color: rgb(70, 94, 98);
}

MenuVBox {
    -fx-alignment: center;
    -fx-spacing: 10px;
}

CustomTextField, CustomPasswordField {
    -fx-max-width: 400;
}

#titleLabel {
    -fx-text-fill: white;
    -fx-font-size: 64px;
}