@font-face {
    src: url("font/VT323-Regular.ttf");
}

#container {
    -fx-background-color: linear-gradient(to bottom, #0d7ee0, #82c5ff);
    -fx-font-family: "VT323";
}

#titleLabel {
    -fx-text-fill: white;
    -fx-font-size: 105px;
}

#titleLabel .text {
    -fx-stroke-width: 2px;
    -fx-stroke: black;
}

#backButton {
    -fx-font-size: 32px;
}

#categoryChoiceBox {
    -fx-font-size: 32px;
}

.table-view {
    -fx-background-color: transparent;
    -fx-border-radius: 6px;
    -fx-border-width: 3px;
    -fx-background-insets: 0px;
    -fx-border-color: linear-gradient(to bottom, #2e3e69, #1e2c3f);
}

.table-view .column-header-background{
    -fx-font-size: 40px;
    -fx-background-color: #0d7ee0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-background-color: #82c5ff;
    -fx-font-size: 32px;
    -fx-padding: 2 0 2 10px;
}

.table-row-cell {
    -fx-border-width: 1 0 0 0px;
    -fx-border-color: black;
}
.table-row-cell:hover {
    -fx-text-background-color: #0d7ee0;
}

.table-column {
    -fx-border-width: 0 0 0 1px;
    -fx-border-color: black;
}

Button, ChoiceBox {
    -fx-background-color: linear-gradient(to bottom, #0d7ee0, #82c5ff);
    -fx-text-fill: linear-gradient(to bottom, #2e3e69, #1e2c3f);
    -fx-font-size: 32px;
    -fx-border-radius: 6px;
    -fx-border-width: 3px;
    -fx-border-color: linear-gradient(to bottom, #2e3e69, #1e2c3f);
    -fx-background-insets: 1px;
}

Button:hover, ChoiceBox:hover {
    -fx-background-color: linear-gradient(to top, #0d7ee0, #82c5ff);
    -fx-text-fill: black;
    -fx-border-color: black;
}