CustomButton {
    -fx-background-color: rgb(136, 136, 136);
}

CustomButton:hover {
    -fx-background-color: rgb(226, 226, 226);
}

#menuVBox {
    -fx-background-color:rgb(161, 161, 161);
    -fx-text-align:center;
}